		</div>
		<footer>
			<p class="copyright">©2019-2020 by Jonathan Kaufman. All Rights Reserved</p>
			
			<P>
				Contact Side Administrators at: jkaufmandeveloper@gmail.com
			</P>
		</footer>	
	</body>
</html>