<%- include('partials/header'); %>

<h1>About YelpCamp</h1>

<p>
	YelpCamp is a website for users to be able to find campsites across America and leave comments on different campsites that users have been to in order for other users to be able to gain insight whether it is worth going to that campsite. If there is a campsite that you have been to and is not listed on here, contact the site administrator's in order to get the campsite added.
</p>

<%- include('partials/footer'); %>