<%- include('partials/header'); %>

<h1>
	Admin Permissions are required to Access this page! Please contact site admin if you believe you should have access to this page!
</h1>

<%- include('partials/footer'); %>